<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.kr.mono.studydb.dao.NudleChainDao">

    <resultMap id="nudleOrderResultMap" type="co.kr.mono.studydb.model.nudle.NudleOrder">
        <id column="order_id" property="orderId" jdbcType="INTEGER" />
        <result column="member_id" property="memberId" jdbcType="INTEGER" />
        <result column="order_date" property="orderDate" jdbcType="VARCHAR" />
        <result column="total_price" property="totalPrice" jdbcType="INTEGER" />

        <!-- 실행시 Map의 collection을 적절히 주석으로 막고 실행해야함 cycle생김
        <collection column="order_id" property="orderProduct"
                    javaType="java.util.ArrayList" ofType="co.kr.mono.studydb.model.nudle.OrderProduct"
                    select="selectOrderByPrimaryKey1" /> -->
    </resultMap>


    <resultMap id="orderProductResultMap" type="co.kr.mono.studydb.model.nudle.OrderProduct">
        <id column="order_product_id" property="orderProductId" jdbcType="INTEGER" />
        <result column="product_id" property="productId" jdbcType="INTEGER" />
        <result column="order_id" property="orderId" jdbcType="INTEGER" />
        <result column="location" property="location" jdbcType="VARCHAR" />
        <!-- 실행시 Map의 collection을 적절히 주석으로 막고 실행해야함 cycle생김 -->

        <association column="product_id" property="nudle" select="selectOrderByPrimaryKey2" />
        <association column="order_id" property="nudleOrder" select="selectOrderByPrimaryKey" />
        <!-- <collection column="order_id" property="nudleOrder"
                     javaType="java.util.ArrayList" ofType="co.kr.mono.studydb.model.nudle.NudleOrder"
                     select="selectOrderByPrimaryKey" /> -->
    </resultMap>


    <resultMap id="NudleResultMap" type="co.kr.mono.studydb.model.nudle.Nudle">
        <id column="product_id" property="productId" jdbcType="INTEGER" />
        <result column="product_category" property="productCategory" jdbcType="VARCHAR" />
        <result column="product_name" property="productName" jdbcType="VARCHAR" />
        <result column="product_price" property="productPrice" jdbcType="INTEGER" />
        <!-- 실행시 Map의 collection을 적절히 주석으로 막고 실행해야함 cycle생김 -->
    </resultMap>


    <!-- nudleOrder -->
    <!-- 파라미터 타입을 INTEGER로 변경함 COLUMN 타입이 거의다 NUMBER임 ORDER_DATE만 TIMESTEMP -->
    <select id="selectOrderByPrimaryKey" resultMap="nudleOrderResultMap" parameterType="java.lang.Integer">
        SELECT
             ORDER_ID
            ,MEMBER_ID
            ,ORDER_DATE
            ,TOTAL_PRICE
        FROM NUDLE_ORDER
        WHERE ORDER_ID =#{order_id,jdbcType=VARCHAR}
    </select>

    <!-- orderProduct -->
    <select id="selectOrderByPrimaryKey1" resultMap="orderProductResultMap" parameterType="java.lang.Integer">
        SELECT
             ORDER_PRODUCT_ID
            ,PRODUCT_ID
            ,ORDER_ID
            ,LOCATION
        FROM ORDER_PRODUCT
        WHERE ORDER_ID = #{order_id,jdbcType=VARCHAR}
    </select>

    <!-- Nudle -->
    <select id="selectOrderByPrimaryKey2" resultMap="NudleResultMap" parameterType="java.lang.Integer">
        SELECT
             PRODUCT_ID
            ,PRODUCT_CATEGORY
            ,PRODUCT_NAME
            ,PRODUCT_PRICE
        FROM NUDLE
        WHERE PRODUCT_ID = #{product_id,jdbcType=VARCHAR}
    </select>



    <!-- 조인방식
    <select id="selectOrderByPrimaryKey1" resultMap="nudleOrderResultMap" parameterType="java.lang.Integer">
        SELECT A.ORDER_ID
            ,A.MEMBER_ID
            ,A.ORDER_DATE
            ,A.TOTAL_PRICE
            ,B.ORDER_PRODUCT_ID
            ,B.PRODUCT_ID
            ,B.LOCATION
        FROM
        NUDLE_ORDER A, ORDER_PRODUCT B
        WHERE A.ORDER_ID = B.ORDER_ID
        AND A.ORDER_ID = #{order_id,jdbcType=VARCHAR}
    </select> -->

</mapper>
