<?xml version="1.0" encoding="UTF-8" ?>
<!--
        mybatis의 인터페이스
        2. 컨트롤러 -> 서비스 -> DAO(Mapper) -> DB
-->

<!--    DAO 대신 Mapper 사용
        매퍼를 사용하면 일일히 DAO를 만들지 않고 인터페이스만을 이용해서 좀 더 편하게 개발할 수 있습니다.
-->

<!--    namespace
        : Mapper의 전체 경로를 적습니다.
-->

<!--    id
        : 매퍼 인터페이스와 XML파일을 매칭 시키기 위해서 매퍼 인터페이스의 메소드 명과 XML 파일의 id를 동일하게 작성해줘야 합니다.
-->

<!--    resultType
        : SQL문을 실행하고 결과값을 어떤 형식으로 반환할지를 나타냅니다. 여기서는 BoardDto 객체로 반환합니다.
        import를 못쓰기 때문에 풀로 다 적어줘야한다. (application.propersies에 적어야함)
-->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.kr.mono.studydb.dao.AreaSalesDao">
    <select id="findAreaSales" parameterType="String" resultType="AreaSalesDTO">
        SELECT AREA_CD AREACD
        ,REGION_AREA REGIONAREA
        ,PROD_ID PRODID
        ,SUM(SALE_CNT) SALECNT
        FROM SALE_TBL
        WHERE AREA_CD = #{areaCd}
        AND ROWNUM = 1
        GROUP BY AREA_CD
        ,REGION_AREA
        ,PROD_ID
    </select>

    <select id="findAreaSalesMap" parameterType="String" resultType="map"> <!-- 미리 MyBatise에 적혀있다 별칭 -->
            SELECT AREA_CD AREACD
                ,REGION_AREA REGIONAREA
                ,PROD_ID PRODID
                ,SUM(SALE_CNT) SALECNT
            FROM SALE_TBL
            WHERE AREA_CD = #{areaCd}
                AND ROWNUM = 1
            GROUP BY AREA_CD
                ,REGION_AREA
                ,PROD_ID
    </select>

    <select id="findMsaleByMultiParm" parameterType="map" resultType="map">
        SELECT PRODID
              ,PRODNM
              ,SALECNT
        FROM MSALES
        WHERE PRODID like #{prodId}||'%'
          AND PRODID like #{prodNm}||'%'
          AND ROWNUM = 1
    </select>

    <select id="findMsaleByMultiReturn" parameterType="map" resultType="map">
        SELECT PRODID
        ,PRODNM
        ,SALECNT
        FROM MSALES
        WHERE PRODID like #{prodId}||'%'
        AND  PRODNM like #{prodNm}||'%'
    </select>

</mapper>